<?xml version="1.0"?>
<interfaceconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <settings>
    <!--针对方法,多个方法，隔开,方法名小写-->
    <method>,helloworld,get,post,</method>
    <!--参数是否加密-->
    <paramenc>0</paramenc>
    <!--加密Key-->
    <enckey>我是加密字符串</enckey>
    <!--调用频率,1分钟-->
    <invokerate>5</invokerate>
    <!--调用间隔,秒，相邻两次调用最低间隔-->
    <invokespace>10000</invokespace>
    <!--是否开启黑名单 1开0关-->
    <isblack>0</isblack>
    <!--是否开启日志 1开0关-->
    <islog>1</islog>
  </settings>
  <settings>
    <!--针对方法,多个方法，隔开,方法名小写-->
    <method>,add,delete,</method>
    <!--参数是否加密-->
    <paramenc>0</paramenc>
    <!--加密Key-->
    <enckey>我是huh</enckey>
    <!--调用频率,1分钟-->
    <invokerate>1</invokerate>
    <!--调用间隔,秒，相邻两次调用最低间隔-->
    <invokespace>20</invokespace>
    <!--是否开启黑名单 1开0关-->
    <isblack>0</isblack>
    <!--是否开启日志 1开0关-->
    <islog>1</islog>
  </settings>
</interfaceconfig>